{% extends 'base.html' %}
{% load static %}

{% block title %}Blog{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}"> {% endblock%}
{% block content %}
<h1 class="">News</h1>
<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row">
                    {% for blog in blogs %}

                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                                <img src="{{blog.image.url}}" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">
                                        {{blog.name}}
                                    </a>
                                </h4>
                                <p class="card-description">
                                    {{blog.descrption}}
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="#" class="btn btn-link btn-block">
                                    <button type="button" class="btn btn-secondary">Read more</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}