{% extends 'base.html' %}
{% load static %}

{% block title %}Blog{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}"> {% endblock%}
{% block content %}
<h1 class="">News</h1>
<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                                <img
                                    src="https://wdt-teapoy.myshopify.com/cdn/shop/articles/blog-07_5bd8baf1-141e-4d3e-bba5-5bbf596e3f88.jpg?v=1722317675" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">
                                        Elegant & Essential Dinning Hall Furniture
                                    </a>
                                </h4>
                                <p class="card-description">
                                    Because nothing says 'classy' like a table that doubles as a laundry station. Dine
                                    in style—if you can find the time between piles of stuff!
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="#" class="btn btn-link btn-block">
                                    <button type="button" class="btn btn-secondary">Read more</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                                <img
                                    src="https://wdt-teapoy.myshopify.com/cdn/shop/articles/blog-08_67d1afc0-a05a-4fd9-a385-23f120edb39d.jpg?v=1722317638" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">
                                        Advantages Of Choosing Custom-Crafted Furniture
                                    </a>
                                </h4>
                                <p class="card-description">
                                    Custom-crafted means extra expensive and even more chances to screw it up yourself!
                                    But hey, at least it's 'one of a kind,' just like your patience.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="#" class="btn btn-link btn-block">
                                    <button type="button" class="btn btn-secondary">Read more</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <a class="img-card" href="#">
                                <img
                                    src="https://wdt-teapoy.myshopify.com/cdn/shop/articles/blog-01.jpg?v=1722317480" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href="#">
                                        The Modest Living Space Furnishings Ideas
                                    </a>
                                </h4>
                                <p class="card-description">
                                    Got a tiny space? No problem! We'll help you cram a couch in there and still have
                                    room for absolutely nothing else. Cozy, right?
                                </p>
                            </div>
                            <div class="card-read-more">
                                <a href="#" class="btn btn-link btn-block">
                                    <button type="button" class="btn btn-secondary">Read more</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}