{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/allproducts.css' %}">
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}

{% block title %}All products{% endblock title %}
{% block content %}
<!-- filter tab -->
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<!-- sidebar + content -->
<div class="sidebar-and-products">
    <section class="">
        <div class="container">
            <div class="row">
                <!-- sidebar -->
                <div class="col-lg-3" id="sidebar">
                    <!-- Toggle button -->
                    <button class="btn btn-outline-secondary mb-3 w-100 d-lg-none" type="button"
                        data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span>Show filter</span>
                    </button>
                    <!-- Collapsible wrapper -->
                    <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button text-white" type="button" data-mdb-toggle="collapse"
                                        data-mdb-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseTwo">
                                        Category
                                    </button>
                                </h2>

                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                                    aria-labelledby="headingTwo">
                                    <div class="accordion-body">
                                        <div>
                                            <!-- Checked checkbox -->
                                            <form method="get">
                                                <div class="form-check">
                                                    {{ form_query.categories.label_tag }}<br>
                                                    {{ form_query.categories }}
                                                </div>
                                                <h2 class="accordion-header" id="headingThree">
                                                    <button class="accordion-button  text-white" type="button"
                                                        data-mdb-toggle="collapse" data-mdb-target="#panelsStayOpen-collapseThree"
                                                        aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                                        Price
                                                    </button>
                                                </h2>

                                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                                                    aria-labelledby="headingThree">
                                                    <div class="accordion-body">
                                                        <div class="range">
                                                            <input type="range" class="form-range" id="customRange1" />
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col-6">
                                                                <p class="mb-0">Min</p>
                                                                <div class="form-outline">
                                                                    {{ form_query.min_price }}
                                                                    {{ form_query.min_price.label_tag }}
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <p class="mb-0">Max</p>
                                                                <div class="form-outline">
                                                                    {{ form_query.max_price }}
                                                                    {{ form_query.max_price.label_tag }}<br>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button type="submit"
                                                            class="btn btn-white w-100 border border-secondary">Apply</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End of collapsible wrapper -->
                </div> <!-- End of sidebar -->
            </div> <!-- End of row -->
        </div> <!-- End of container -->
    </section> <!-- End of section -->

    <!-- Products -->
    <div id="products">
        <div class="row mx-0">
            <div class="row-cols-5 d-flex flex-wrap gap-3">
                {% for product in products %}
                <a href="{% url 'productdetails' product.id %}">
                    <div class="card d-flex flex-column align-items-center text-white mb-3">
                        <div class="card-img-top">
                            <img src="{{product.image.url}}" alt="{{product.name}}">
                        </div>
                        <div class="product-category">{{product.category}}</div>
                        <div class="product-name">{{product.name}}</div>
                        <div class="card-body pt-5">
                            <div class="d-flex align-items-center price">
                                <div class="font-weight-bold" style="margin-top: -18px;">{{product.price}}</div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div> <!-- End of products -->
</div> <!-- End of sidebar-and-products -->

{% block script %}
{% endblock %}
{% endblock content %}
