{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/productdetails.css' %}" />
{% endblock %}

{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}

<body>
  <div class="product-container">
    <!-- Image Gallery Section -->
    <div class="image-gallery">
      <div class="main-image">
        <img src="{{ product.image.url }}" alt="Main Sofa" id="mainImage" />
      </div>
    </div>



    <!-- Product Details Section -->
    <div class="product-details">
      <h1>{{product.name}}</h1>
      <p class="price">{{product.price}}</p>

      <div class="options">
        <p><strong>Category:</strong> {{product.category}}</p>
      </div>



      <input type="hidden" name="quantity" value="1">

      <!-- Cart Actions -->
      <div class="cart-actions">
        <p>Estimated delivery: 12-26 days (International)</p>
        <p>Free return within 30 days of purchase.</p>
        <div class="quantity-selector">
          <button onclick="decreaseQty()">-</button>
          <form action="{% url 'add_to_cart' product.id %}" target="blank" method="POST" style="display: contents;">
            {% csrf_token %}
            <input type="number" id="qty" name="quantity" value="1">
            <button id="add-cart" value="{{ product.id }}" class="btn btn-primary" onclick="ExistingLogic()"
              style="display: none;">
              Add to Cart
            </button>
          </form>
          <button onclick="increaseQty()">+</button>

        </div>
        <div class="twobtn">
          <button id="second-add-cart" class="btn btn-primary" onclick="document.getElementById('add-cart').click()">Add
            to Cart </button>
          <button class="buy-now btn btn-primary"
            onclick="window.location.href='{% url 'create_order' product.id %}'">Order
            Now</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <!-- Tabs Section -->
  <div class="tabs">
    <button class="tab-btn" onclick="openTab(event, 'description')">Description</button>
  </div> <!-- Close the tabs div here -->

  <div id="description" class="tab-content">
    <p>{{ product.description }}</p>
  </div>
</body>
{% endblock %}

{% block scriptblock %}
<script src="{% static 'js/productdetails.js' %}"></script>
{% endblock %}