{% load static %}
<header class="">
  <nav class="navbar">
    <div class="logo">
      <a href="{% url 'homePage' %}">
        <img class="logo-img" src="{% static 'images/logo.png' %}" alt="Logo" />
      </a>
    </div>
    <ul class="nav-items" id="nav-items">
      <li>
        <a href="{% url 'homePage' %}">HOME</a>
      </li>
      <li>
        <a href="{% url 'category' %}">CATEGORY</a>
      </li>
      <li class="dropdown">
        <a href="{% url 'product' %}">SHOP <i class="fi fi-ts-angle-small-down"></i></a>
        <div class="dropdown-menu">
          <div class="menu-column">
            <h3>Categories</h3>
            <ul>
              <li>
                <i class="fi fi-bs-couch"></i> <a href="http://127.0.0.1:8000/product/category/2/">Office
                  Decoration</a>
              </li>
              <li>
                <i class="fi fi-bs-couch"></i> <a href="http://127.0.0.1:8000/product/category/3/">Indoor
                  Decoration</a>
              </li>
              <li>
                <i class="fi fi-bs-couch"></i> <a href="http://127.0.0.1:8000/product/category/4/">Home
                  Decoration</a>
              </li>
              <li>
                <i class="fi fi-bs-couch"></i> <a href="http://127.0.0.1:8000/product/category/5/">Outdoor
                  Decoration</a>
              </li>
              <li>
                <i class="fi fi-bs-couch"></i> <a href="http://127.0.0.1:8000/product/category/1/">Indoor
                  Decoration</a>
              </li>
            </ul>
          </div>
          <div class="menu-column">
            <h3>Links</h3>
            <ul>
              <li>
                <i class="fi fi-bs-couch"></i> <a href="http://127.0.0.1:8000/contact/">Contact</a>
              </li>
              <li>
                <i class="fi fi-bs-couch"></i> <a href="http://127.0.0.1:8000/blog/">Blog</a>
              </li>

            </ul>
          </div>
          <div class="menu-column images">
            <a href="http://127.0.0.1:8000/product/productdetails/12/">
              <img src="{% static 'images/nav1.jpg' %}" alt="Product 1" />
            </a>
            <a href="http://127.0.0.1:8000/product/productdetails/3/">
              <img src="{% static 'images/light.jpg' %}" alt="Product 2" />
            </a>
          </div>
        </div>
      </li>
      <li>
        <a href="{% url 'blog' %}">BLOG</a>
      </li>
      <li>
        <a href="{% url 'contact' %}">CONTACT</a>
      </li>
    </ul>
    <div class="nav-icon">
      {% comment %}side list{% endcomment %}
      <button type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop"
        id="nav-btn"><i class="fi fi-rr-menu-burger"></i></button>
      <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
        aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
          <div class="logo">
            <a href="{% url 'homePage' %}">
              <img class="logo-img offcanvas-title" id="staticBackdropLabe" src="{% static 'images/logo.png' %}"
                alt="Logo" />
            </a>
          </div>
          <div class="btn-close" data-bs-dismiss="offcanvas">&times;</button></div>
        </div>
        <div class="offcanvas-body">
          <ul class="nav-items offcanvas-items" id="nav-items">
            <li>
              <a href="{% url 'homePage' %}">HOME</a>
            </li>
            <li class="dropdown">
              <a href="{% url 'product' %}">SHOP <i class="fi fi-ts-angle-small-down"></i></a>
              <div class="dropdown-menu">
                <div class="menu-column">
                  <h3>Categories</h3>
                  <ul>
                    <li>
                      <i class="fi fi-bs-couch"></i> <a href="http://127.0.0.1:8000/product/category/2/">Office
                        Decoration</a>
                    </li>
                    <li>
                      <i class="fi fi-bs-couch"></i> <a href="http://127.0.0.1:8000/product/category/3/">Indoor
                        Decoration</a>
                    </li>
                    <li>
                      <i class="fi fi-bs-couch"></i> <a href="http://127.0.0.1:8000/product/category/4/">Home
                        Decoration</a>
                    </li>
                    <li>
                      <i class="fi fi-bs-couch"></i> <a href="http://127.0.0.1:8000/product/category/5/">Outdoor
                        Decoration</a>
                    </li>
                    <li>
                      <i class="fi fi-bs-couch"></i> <a href="http://127.0.0.1:8000/product/category/1/">Indoor
                        Decoration</a>
                    </li>

                    <h3>Decor & Accessories</h3>
                    <ul>
                      <li>
                        <i class="fi fi-bs-couch"></i> <a href="http://127.0.0.1:8000/contact/">Contact</a>
                      </li>
                      <li>
                        <i class="fi fi-bs-couch"></i> <a href="http://127.0.0.1:8000/blog/">Blog</a>
                      </li>
                    </ul>

                  </ul>
                </div>
              </div>
            </li>
            <li>
              <a href="{% url 'category' %}">CATEGORY</a>
            </li>
            <li>
              <a href="{% url 'blog' %}">BLOG</a>
            </li>
            <li>
              <a href="{% url 'contact' %}">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>

      <a href="#"><i class="fi fi-bs-heart"></i></a>
      <a id="cart-icon" href="{% url 'cart' %}"><i class="fi fi-ts-cart-arrow-down"></i></a>



      {% if user.id %}
      <a class="success" href="{% url 'profile' %}"><i class="fi fi-bs-user"></i></a>
      {% else %}
      <a id="btn-login" href="#"><i class="fi fi-bs-user"></i></a>
      {% endif %}
    </div>
  </nav>
</header>