{% load static %}
<header class="">
  <nav class="navbar">
    <div class="logo">
      <img class="logo-img" src="{% static 'images/logo.png' %}" alt="Logo" />
    </div>
    <ul class="nav-items" id="nav-items">
      <li>
        <a href="{% url 'homePage' %}">HOME</a>
      </li>
      <li>
        <a href="{% url 'category' %}">CATEGORY</a>
      </li>
      <li class="dropdown">
        <a href="{% url 'product' %}">SHOP <i class="fi fi-ts-angle-small-down"></i></a>
        <div class="dropdown-menu">
          <div class="menu-column">
            <h3>Furniture</h3>
            <ul>
              <li>
                <i class="fi fi-bs-couch"></i> <a href="#">Writing Desks</a>
              </li>
              <li>
                <i class="fi fi-bs-couch"></i> <a href="#">Computer Desks</a>
              </li>
              <li>
                <i class="fi fi-bs-couch"></i> <a href="#">Office Chairs</a>
              </li>
              <li>
                <i class="fi fi-bs-couch"></i> <a href="#">File Cabinets</a>
              </li>
              <li>
                <i class="fi fi-bs-couch"></i> <a href="#">Dining Chairs</a>
              </li>
            </ul>
          </div>
          <div class="menu-column">
            <h3>Decor & Accessories</h3>
            <ul>
              <li>
                <i class="fi fi-bs-couch"></i> <a href="#">Pillows & Throws</a>
              </li>
              <li>
                <i class="fi fi-bs-couch"></i> <a href="#">Wall Clocks</a>
              </li>
              <li>
                <i class="fi fi-bs-couch"></i> <a href="#">Wall Art & Mirrors</a>
              </li>
              <li>
                <i class="fi fi-bs-couch"></i> <a href="#">Seasonal Decor</a>
              </li>
            </ul>
          </div>
          <div class="menu-column images">
            <img src="{% static 'images/nav1.jpg' %}" alt="Product 1" />
            <img src="{% static 'images/nav2.jpg' %}" alt="Product 2" />
          </div>
        </div>
      </li>
      <li>
        <a href="{% url 'blog' %}">BLOG</a>
      </li>
      <li>
        <a href="{% url 'contact' %}">CONTACT</a>
      </li>
    </ul>
    <div class="nav-icon">
      {% comment %}side list{% endcomment %}
      <button type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop"
        id="nav-btn"><i class="fi fi-rr-menu-burger"></i></button>
      <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
        aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
          <div class="logo">
            <img class="logo-img offcanvas-title" id="staticBackdropLabe" src="{% static 'images/logo.png' %}"
              alt="Logo" />
          </div>
          <div class="btn-close" data-bs-dismiss="offcanvas">&times;</button></div>
        </div>
        <div class="offcanvas-body">
          <ul class="nav-items offcanvas-items" id="nav-items">
            <li>
              <a href="{% url 'homePage' %}">HOME</a>
            </li>
            <li class="dropdown">
              <a href="{% url 'product' %}">SHOP <i class="fi fi-ts-angle-small-down"></i></a>
              <div class="dropdown-menu">
                <div class="menu-column">
                  <h3>Furniture</h3>
                  <ul>
                    <li>
                      <i class="fi fi-bs-couch"></i> <a href="#">Writing Desks</a>
                    </li>
                    <li>
                      <i class="fi fi-bs-couch"></i> <a href="#">Computer Desks</a>
                    </li>
                    <li>
                      <i class="fi fi-bs-couch"></i> <a href="#">Office Chairs</a>
                    </li>
                    <li>
                      <i class="fi fi-bs-couch"></i> <a href="#">File Cabinets</a>
                    </li>
                    <li>
                      <i class="fi fi-bs-couch"></i> <a href="#">Dining Chairs</a>
                    </li>

                    <h3>Decor & Accessories</h3>

                    <li>
                      <i class="fi fi-bs-couch"></i> <a href="#">Pillows & Throws</a>
                    </li>
                    <li>
                      <i class="fi fi-bs-couch"></i> <a href="#">Wall Clocks</a>
                    </li>
                    <li>
                      <i class="fi fi-bs-couch"></i> <a href="#">Wall Art & Mirrors</a>
                    </li>
                    <li>
                      <i class="fi fi-bs-couch"></i> <a href="#">Seasonal Decor</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <a href="{% url 'category' %}">CATEGORY</a>
            </li>
            <li>
              <a href="{% url 'blog' %}">BLOG</a>
            </li>
            <li>
              <a href="{% url 'contact' %}">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
      {% comment %}end side list{% endcomment %}
      <a href="#"><i class="fi fi-bs-heart"></i></a>
      <a id="cart-icon" href="#"><i class="fi fi-ts-cart-arrow-down"></i></a>



      {% if user.id %}
      <a class="success" href="{% url 'profile' %}"><i class="fi fi-bs-user"></i></a>
      {% else %}
      <a id="btn-login" href="#"><i class="fi fi-bs-user"></i></a>
      {% endif %}
    </div>
  </nav>
</header>