body {
  background-color: #101010; /*Main color*/
}
h1 {
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  color: white;
  height: 320px;
  object-fit: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/panner.jpg);
  margin-bottom: 50px;
}
#imgtitle {
  text-decoration: none !important;
  color: white;
}
.card-title {
  font-weight: 1200 !important;
  font-size: 26px;
}
.card-title {
  font-weight: 1200 !important;
  font-size: 26px;
  transition: color 400ms ease; /* Ensure transition is applied to color */
}

.card-title:hover {
  color: #b67130;
}

.body {
  margin-top: 96px;
}

.cat {
  padding: 0 15vh;
}
#cardcontainer {
  padding-left: 135px;
}
.card {
  transition: 0.3s all ease-in-out;
}
.card:hover {
  box-shadow: 2px 2px 15px #d7d4d2e5;
  transform: scale(1.02);
}
