body,.card-body {
  background-color: #101010;
}
h1 {
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  color: white;
  height: 320px;
  object-fit: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/panner.jpg);
  margin-bottom: 50px;
}
#imgtitle {
  text-decoration: none !important;
  color: white;
}
.card-title{
  font-weight: 1200 !important;
  font-size: 26px;
}
.card-title:hover {
  color: #b67130;
  transition: 500ms;
  transition: ease-in-out;
}
.card{
outline-style: none;
border: none;
}
.body{
  margin-top: 96px;
} 

.cat{
padding: 0 15vh ;
}
