body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f4f4f4; */
}

.slideshow-container {
  height: 90vh;
  top: 500;
  width: 100%;
  position: relative;
  margin-top: 96px;
  overflow: hidden;
  z-index: 2 !important;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  transition: 0.6s ease;
}

.slide img {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

.text-container {
  position: absolute;
  top: 11rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  height: 240px;
  width: 600px;
}
.text-container p{
   height: 95px;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   overflow: hidden; 
}
.shop-now-button {
  background-color: #ff6600;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.prev,
.next {
  z-index: 30;
  background-color: #ff6600;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  color: #fff8f3;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 50px;
}

.next{
  right: 50px;
}

.dot-container {
  text-align: center;
  margin-top: 20px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active.dot {
  background-color: #717171;
}

/* login form */
.close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 32px;
  height: 32px;
  color: #ffffff;
  background-color: #ca740a;
  font-size: 32px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .6s ease;
}

.close:hover,
.close:focus {
  background-color: #f0890b;
  text-decoration: none;
  cursor: pointer;
}
.signin-label{
  font-family: serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #f4f4f4 ;

}
.modal {
  display: none; 
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #101010;
  margin: 15% auto; 
  padding: 20px;
  width: 45%;
  border-radius: 8px;
  text-align: center;
}

.modal-content input {
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
}

.modal-content button {
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #f0890b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 55px;
  max-width: 200px;
  transition: background-color .5s ease-in-out;
}

.modal-content button:hover {
  background-color: rgb(188, 186, 185);
}
#message{
  font-size: 28px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  color: brown;
}
/* login form end */