body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 20px;
}

.product-container {
  display: flex;
  justify-content: space-between;
  margin: 23px;
  margin-top: 95px;
}

.image-gallery {
  width: 40%;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.thumbnail {
  width: 80px;
  margin-bottom: 10px;
  cursor: pointer;
}

.main-image img {
  width: 100%;
}

.product-details {
  width: 50%;
}

h1 {
  margin-bottom: 10px;
}

.rating {
  display: flex;
  align-items: center;
}

.price {
  color: #ffa500;
  font-size: 24px;
}

.options {
  margin: 20px 0;
}

.buttons button {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #ffa500;
  color: white;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #ff4500;
}

.cart-actions {
  margin: 20px 0;
}

.quantity-selector {
  display: flex;
  align-items: center;
}

.quantity-selector button {
  padding: 10px;
  background-color: #ffa500;
  border: none;
  color: white;
  cursor: pointer;
}

.quantity-selector input {
  width: 50px;
  text-align: center;
}

#add-cart,
.buy-now,
#second-add-cart {
  margin-top: 20px;
  cursor: pointer;
  transition: color 400ms ease;
  transition: background-color 400ms ease;
}

#add-cart:hover,
.buy-now:hover,
#second-add-cart:hover {
  background-color: white;
  color: black;
}

.tabs {
  margin-top: 30px;
}

.tab-btn {
  padding: 10px;
  background-color: #333;
  color: white;
  cursor: pointer;
  border: none;
}

.tab-content {
  display: none;
  margin-top: 20px;
}

.active {
  display: block;
}
.twobtn {
  width: max-content;
}
@media only screen and (min-device-width: 1px) and (max-device-width: 1024px) and (orientation: portrait) {
  .product-details {
    width: 100%;
  }
}
