/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: Arial, sans-serif;
  background-color: #101010;
  overflow-x: hidden;
}

.errorlist li {
  color: #fff;
}
#side-cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  background-color: #151414;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.4s ease;
  z-index: 1000;
}

#side-cart.open {
  right: 0;
}

#cart-items {
  padding: 20px;
}

.cart-item {
  display: flex;
  margin-bottom: 10px;
}

.cart-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-total {
  margin-top: 20px;
}

#checkout-btn {
  width: 100%;
}
h1 {
  color: white;
  text-align: center;
}
