
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <h2>Order for {{ product.name }}</h2>
    
        <div>
            <label for="username">Username</label>
            {{ form_order.username }}
        </div>
    
        <div>
            <label for="email">Email</label>
            {{ form_order.email }}
        </div>
    
        <div>
            <label for="address">Address</label>
            {{ form_order.address }}
        </div>
    
        <div>
            <label for="total_price">Price</label>
            {{ form_order.total_price }}  <!-- Auto-populated and read-only -->
        </div>
    
        <div>
            <label for="quantity">Quantity</label>
            {{ form_order.quantity }}  <!-- User selects quantity -->
        </div>
    
        <button type="submit">Place Order</button>
    </form>
    
</body>
</html>
