{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}
{%block style%}
<link rel="stylesheet" href="{%static 'css/profile.css' %}">{%endblock style%}


{% block content %}
<div class="profile-content">

  <div class="profile-user-info">
    <div class="con-img">
      {% if user.image %}
      <img src="{{user.image.url}}" class="user-image" alt="User Image">
      {% else %}
      <img src="{{user.image.url}}" class="user-image" alt="User Image">
      {% endif %}
    </div>
    <p class="user-data name-name">{{user.username}}</p>
    <p class="user-data">{{user.phone}}</p>
    <p class="user-data">{{user.email}}</p>
    <form method="POST" action="{% url 'logout' %}">
      {% csrf_token %}
      <button class="logout" type="submit"><i class="fi fi-bs-user">Logout</i></button>
    </form>
  </div>


  <div class="card-profile-body">
    <h1 class="profile-title">My Profile</h1>
    <h2>Order history</h2>
    {% if orders %}
    <ul>
      {% for order in orders %}
      <li class="order-list">
        <strong>Created At:</strong> {{ order.created_at }}<br>
        <strong>Total Price:</strong> {{ order.total_price }}<br>
        <strong>Address:</strong> {{ order.address }}<br>
        <strong>Status:</strong> {{ order.status }}<br>

        <h4>Order Items:{{ order.created_id }}</h4>
        <ul>
          {% for item in order.items.all %}
          <li>
            {{ item.product.name }} - Quantity: {{ item.quantity }}
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>You have no orders yet.</p>
    {% endif %}

  </div>

</div>
{% endblock content %}