{% extends 'base.html' %}
{% load static %}{% block style %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}"> {% endblock%}
{% block title %}Contact{% endblock title %}
{% block content %}
<h1>Keep in contact</h1>
<form action="/contact/" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
    <input type="submit" value="Submit">
</form>
{% endblock content %}